.spotter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.app-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
}

.app-header > h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3rem;
}

.app-header > h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.2rem;
}