<div class="login-container">
    <div class="login-section">
        <div class="exit">
        </div>
        <div class="city-svg"></div>
        <h1>Already signed up for Spotter?</h1>
        <div class="header">
            <h2>Login</h2>
        </div>
        <div class="line"></div>
        <div class="login-native">
            <div class="login-input">
                <input type="text" name="email" id="emailLogin" placeholder="Email">
            </div>
            <div class="login-input">
                <input type="password" name="password" id="passwordLogin" placeholder="Password">
            </div>
            <button class="login-btn" (click)="loginEmailPasswordAuth()">Continue</button>
        </div>
        <div class="line"></div>
        <div style="width: 90%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <a routerLink="" style="color: #6C63FF; margin: .5rem;">Register</a>
            <p>or</p>
        </div>
        <div class="login-provider">
        
        </div>
    </div>
</div>