.navbar-holder {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(26, 26, 26);
}

.navbar-guest-container {
    width: 870px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-container, .navbar-tabs-container {
    width: 50%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    height: 65px;
}

.logo-container {
    justify-content: flex-start;
    background: transparent;
}

.navbar-tabs-container {
    justify-content: flex-end;
}

.logo-header {
    color: rgb(231, 49, 49);
    font-size: 2rem;
    margin-left: .5rem;
}

.logo {
    width: 36px;
    height: 36px;
}

.navbar-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: .5rem;
    border-bottom: 1px solid transparent;
}

.navbar-link-container:hover {
    border-bottom: 1px solid white;
}

.navbar-link-guest {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: .9rem;
    text-align: center;
    font-weight: 500;
}

.signup-link {
    height: 45px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .5rem;
}

#signup {
    background: #FF5252;
    color: white;
    font-size: .9rem;
    padding: .5rem;
    padding-left: .7rem;
    padding-right: .7rem;
}

.profile-container {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-icon {
    font-size: 32px;
}

.profile-info {
    display: flex;
    height: 48px;
    margin: .25rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.line {
    height: 1px;
    width: 90%;
    margin: auto;
    border: .5px solid rgba(211, 211, 211, 0.472);
}