<div class="navbar-guest-container">
    <div class="logo-container">
        <div class="logo"></div>
        <h1 class="name">Spotter</h1>
    </div>
    <div class="navbar-tabs-container">
        <div class="navbar-link-container">
            <a [routerLink]="" class="navbar-link-guest">Discover a spot</a>
        </div>
        <div class="navbar-link-container">
            <a [routerLink]="" class="navbar-link-guest">How to host</a>
        </div>
        <div class="navbar-link-container">
            <a [routerLink]="" class="navbar-link-guest">Sign up</a>
        </div>
        <div class="navbar-link-container">
            <a [routerLink]="" class="navbar-link-guest">Log in</a>
        </div>
    </div>
</div>