<div class="register-container-overlay">
    <div class="register-container">
        <div class="exit" routerLink=""></div>
        <div class="account-creation-svg">
        </div>
        <h1 style="margin-bottom: 0;">Create your account</h1>
        <h5 style="margin: 0; margin-right: auto;">* required</h5>
        <form style="width: 100%; height: 100%;" [formGroup]="registerForm" #ngForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-container">

                <div class="field">
                    <label class="label">* First Name</label>
                    <div class="control">
                        <input id="firstNameInput" type="text" placeholder="Alexander" 
                        formControlName="firstName" 
                        class="input"
                        [ngClass]="{'valid-required': firstName.untouched && !ngForm.submitted, 'invalid-required': (firstName.invalid && (firstName.touched || firstName.dirty)) || (firstName.pristine && ngForm.submitted)}">
                    </div>
                </div>
                <div class="field">
                    <label class="label">* Last Name</label>
                    <div class="control">
                        <input type="text" placeholder="Smith" 
                        formControlName="lastName" id="lastNameInput"
                        class="input"
                        [ngClass]="{'valid-required': lastName.untouched && !ngForm.submitted, 'invalid-required': (lastName.invalid && (lastName.touched || lastName.dirty)) || (lastName.pristine && ngForm.submitted)}">
                        
                    </div>
                </div>
                <div class="field">
                    <label class="label">Display Name</label>
                    <div class="control">
                        <input type="text" class="input" placeholder="Alex" formControlName="displayName">
                    </div>
                </div>

                <div class="field">
                    <label class="label">*Date of Birth</label>
                    <div class="control">
                        <input type="text" placeholder="mm/dd/yyyy" formControlName="dateOfBirth" dob-mask
                        [dobControl]="registerForm.controls['dateOfBirth']" [preValue]="registerForm.value.dateOfBirth" id="dob" class="input"
                        [ngClass]="{'valid-required': dateOfBirth.untouched && !ngForm.submitted, 'invalid-required': (dateOfBirth.invalid && (dateOfBirth.touched || dateOfBirth.dirty)) || (dateOfBirth.pristine && ngForm.submitted)}">
                    </div>
                </div>

                <div class="field">
                    <label class="label">* Phone Number</label>
                    <div class="control">
                        <input type="text" type="tel" placeholder="(xxx) xxx-xxxx" telephone-input-mask 
                        [phoneControl]="registerForm.controls['phoneNumber']" [preValue]="registerForm.value.phoneNumber"
                        formControlName="phoneNumber" id="tel"  class="input"
                        [ngClass]="{'valid-required': phoneNumber.untouched && !ngForm.submitted, 'invalid-required': (phoneNumber.invalid && (phoneNumber.touched || phoneNumber.dirty)) || (phoneNumber.pristine && ngForm.submitted)}">
                    </div>
                </div>

                <div style="display: flex; width: 90%;justify-content: center; padding-left: .5rem;">
                    <p style="font-size: .8rem;">We'll call or text you to verify your number. Standard messaging rates apply.</p>
                </div>

                <div class="email-password-container">
                    <div class="field">
                        <label for="" class="label">* Email</label>
                        <div class="control has-icons-left">
                            <input type="text" formControlName="email"
                            class="input"
                            [ngClass]="{'valid-required': email.untouched && !ngForm.submitted, 'invalid-required': (email.invalid && (email.touched || email.dirty)) || (email.pristine && ngForm.submitted)}">
                            <span class="icon is-small is-left">
                                <fa-icon [icon]="faUser"></fa-icon>
                            </span>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="" class="label">* Confirm Email</label>
                        <div class="control">
                            <input type="text" formControlName="confirmEmail"
                            class="input"
                            [ngClass]="{'valid-required': confirmEmail.untouched && !ngForm.submitted, 'invalid-required': (confirmEmail.invalid && (confirmEmail.touched || confirmEmail.dirty)) || (confirmEmail.pristine && ngForm.submitted)}">
                        </div>
                        <div *ngIf="registerForm.errors?.emailsNotEqual && (confirmEmail.touched || confirmEmail.dirty)" class="alert alert-danger">
                            Emails must match.
                        </div>
                    </div>
                    <div class="field">
                        <label for="" class="label">* Password</label>
                        <div class="control has-icons-left">
                            <input type="password" formControlName="password"
                            class="input"
                            [ngClass]="{'valid-required': password.untouched && !ngForm.submitted, 'invalid-required': (password.invalid && (password.touched || password.dirty)) || (password.pristine && ngForm.submitted)}">
                            <span class="icon is-small is-left">
                                <fa-icon [icon]="faLock"></fa-icon>
                            </span>
                            <div *ngIf='password.errors.minlength && registerForm.submitted'
                                class="alert alert-danger">
                                Password must contain six characters.
                            </div>
                        </div>
                    </div>
                    
                    <div class="field">
                        <label for="" class="label">* Confirm Password</label>
                        <div class="control">
                            <input type="password" formControlName="confirmPassword"
                            class="input"
                            [ngClass]="{'valid-required': confirmPassword.untouched && !ngForm.submitted, 'invalid-required': (confirmPassword.invalid && (confirmPassword.touched || confirmPassword.dirty)) || (confirmPassword.pristine && ngForm.submitted)}">
                        </div>
                        <div *ngIf="registerForm.errors?.passwordsNotEqual && (confirmPassword.touched || confirmPassword.dirty)"
                            class="alert alert-danger">
                            Passwords must match.
                        </div>
                    </div>
                </div>

                <div class="button-container">
                    <button type="submit" class="button">Continue</button>
                </div>
            </div>
        </form>
    </div>
</div>